

body {
	background-color: #555555;
	margin-left: 0px;
	margin-top: 0px;
	overflow: hidden;
}

#dimmer {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: absolute;
  z-index: 999999;
  top: 0;
}

/* ===== Background =====
 - pink: 455C7B
 - gray: 555555
 */


.svg-background-container {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
}

.svg-background-container-layer {
	height: 100vh;
	width: 100%;
	position: fixed;
	background-size: 640px;
}

#svg-background-container-overlay {
	height: 100vh;
	width: 100%;
	position: fixed;
	background-color: #3F51B5;
	opacity: .1;
}

#svg-background-container-layer-1 {
	animation-name: backgroundAnimation1;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
	opacity: 0.1;
}

#svg-background-container-layer-2 {
	animation-name: backgroundAnimation2;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
	opacity: 0.15;
}

#svg-background-container-layer-3 {
	animation-name: backgroundAnimation3;
	animation-duration: 35s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
	opacity: 0.20;
}

@keyframes backgroundAnimation1 {
    from {
		background-position-x: 0px;
	}
    to {
		background-position-x: -600px;
	}
}

@keyframes backgroundAnimation2 {
    from {
		background-position-x: 0px;
	}
    to {
		background-position-x: 600px;
	}
}

@keyframes backgroundAnimation3 {
    from {
		background-position-x: 0px;
	}
    to {
		background-position-x: -600px;
	}
}

/* ===== Weather ===== */

.weather-container {
	position: relative;
	z-index: 10;
	padding-left: 35px;
	padding-top: 10px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.weather-container-icon {
	width: 150px;
	position: relative;
	top: -10px;
	font-family: 'Roboto', sans-serif;
	opacity: 0.8;
}

.weather-container-temp {
	font-size: 85px;
	margin-left: 25px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.weather-container-temp-subtext {
	position: relative;
	display: -webkit-box;
	font-size: 23px;
	margin-left: 25px;
	margin-top: -20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

/* ===== Time ===== */

.time-display {
	font-family: 'Roboto', sans-serif;
	font-size: 85px;
	font-weight: 500;
	z-index: 10;
	position: relative;
	color: #fff;
	text-align: center;
	margin-left: -35px;
}

.time-date {
	position: relative;
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #fff;
	z-index: 10;
	margin-top: 0px;
}

/* ===== Forecast ===== */

.forecast-container {
	width: 150px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	z-index: 10;
	bottom: -70px;
}

.forecast-container-date {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 21px;
	margin: 0;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 300;
}

.forecast-container-icon {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 95px;
	margin-left: calc((150px / 2) - (95px / 2));
}

.forecast-container-precipitation {
	position: relative;
	display: -webkit-inline-box;
}
